.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0px auto;
}

.main-content {
    background-color: #FFFFFF;
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 105px 90px
}